.main-home{
    height: 81vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/background.png);
}
.main-home .top
{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 30px;
    gap: 5px;
}

.main-home .top .left .signup-img
{
    height: 500px;
}
.main-home .top .right .question-window
{
    height: 700px;
    background-color: rgb(228, 225, 225);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
}
.btn:disabled
{
    background-color: white;
    color: grey;
}
.login-btn,
.signup-btn
{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0px 30px;
    width: 300px;
    background-color: white;
    border: 2px solid #0082F0;
    color: #0082F0;
    height: 55px;
    font-weight: 700;
    cursor: pointer;
}

.main-btn-active
{
    background-color: #0082F0;
    color: white;
}

label
{
    color: #0082F0;
    text-align: center;
    font-weight: 600;
}
.logo-cover
{
    width: 100%;
    margin-top: 120px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-login 
{
    width: 300px;
    background-image: url('../../assets/images/2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}
form
{
    padding: 50px 20px;
    text-align: center;
}
label
{
    padding: 10px 10px;
}
input
{
    width: 100%;
    border: 0px solid transparent;
    border-radius: 50px;
    height: 30px;
    padding: 0px 10px;
    text-align: right;
}
input:focus
{
    border: 2px solid #0082F0;
    outline: none;
    color: #0082F0;
    font-weight: 600;
}
.login-btn-continue
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blood-login
{
    border-radius: 50px;
    font-size: 20px;
    padding: 0px 30px;
    width: 250px;
    background-color: #0082F0;
    border: 0px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


