
.main-home{
    height: 81vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/background.png);
}

.main-home .top
{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-home .top .left h2
{
    margin-top: -20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #0082F0;
}
.main-home .top .left .home-main-img
{
    height: 300px;
}
.main-home .top .right img
{
    height: 500px;
}
.btns
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns button
{
    border-radius: 50px;
    font-size: 20px;
    padding: 10px 30px;
    width: 250px;
    border: 2px solid #0082F0;
    background-color: transparent;
    color: #0082F0;
    font-weight: 700;
    cursor: pointer;
}
.btns button:hover
{
    background-color: #0082F0;
    color: white;
}
.bottom {
    margin-top: 95px;
    background-color: transparent;
    color: white;
    width:100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom p
{
    text-align: center;
    font-size: 30px;
    width: 50%;
    background-color: #0082F0;
    border-radius: 50px;
    font-weight: 600;
    padding: 5px 20px;
    line-height: 1.5;
}