.main-questions{
    height: 81vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/background.png);
}
.main-questions .top
{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 30px;
    gap: 5px;
}

.main-questions .top .left img
{
    height: 500px;
}
.main-questions .top .right .question-window
{
    height: 700px;
    background-image: url(../../assets/images/Blood/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding-bottom: 70px;
}
.test-title
{
    font-size: 30px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #0082F0;

}
.chose-btns
{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn
{
    font-size: 20px;
    padding: 0px 30px;
    width: 120px;
    background-color: #0082F0;
    border: 0px solid transparent;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.no-btn
{
    border-radius: 50px 0px  0px 50px;
}
.yes-btn
{
    border-radius: 0px 50px  50px 0px;
}
.question-content
{
    margin-top: 100px;
    border-radius: 50px;
    width: 350px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.356);
    padding: 20px;
}
.txt-content
{
    margin-top: 40px;
    height: 120px;
    color: white;
    font-size: 20px;
}
.continue-btn-close
{
    display: none;
}
.continue-btn-active{
    border-radius: 50px;
    font-size: 20px;
    padding: 0px 30px;
    width: 250px;
    background-color: #0082F0;
    border: 0px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.last-btns{
    margin-top: 50px;

}
.btn:disabled
{
    background-color: white;
    color: grey;
}

.login-btn,
.signup-btn
{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0px 30px;
    width: 300px;
    background-color: white;
    border: 2px solid #0082F0;
    color: #0082F0;
    height: 55px;
    font-weight: 700;
    cursor: pointer;
}
.signup-active
{
    background-color: #0082F0;
    color: white;
}