.main{
    background-image: url(../../assets/images/screen2/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 81vh;

}
.main .container .top
{
    position: relative;
    padding: 0;
    top: 80px;
}
.main .container .top img {
    position: relative;
    left: 80px;
    height: 300px;
}
.main .container .top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .container .top h2
{
    font-size: 40px;
    color: #0082F0;

}
.main .container .bottom
{
    background-color: transparent;
    margin-top: 200px;
    width: 100%;
    display: flex;
    gap: 10px;
}
.main .container .bottom div a 
{
    color: white;
    text-decoration: none;
}
.main .container .bottom div
{
    background-color: #0082F0;
    border-radius: 12px;
    width: 250px;
    height: 250px;
    text-align: center;
}
.main .container .bottom div div
{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .container .bottom div div img
{
    width: 100px;
}
.main .container .bottom div p
{
    font-size: 20px;
    text-align: center;
}